<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/logo1.svg" type="image/svg+xml" sizes="2x2">
    <title>Tiket Kereta | PigiPigi</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/tiketkereta.css">
  </head>
  <body>
   <!-- First Navbar -->
    <%- include('../partials/firstNavbar',  {page: 'kereta'}); %>
    <!-- second navbar -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" id="secnav">
      <div class="container">
        <div>
          <img class="rounded-circle kereta" src="https://lh4.ggpht.com/fXuIHycU2zzzR9xakkQST8ItglkGOAHMYtmJDU9BuEIAmD9Pf23lssphUL8vCmle=w300" alt="Kereta">
        </div>
        <div class="col-md-9 nav1">
          <h3 class="">
            Pilih Kereta Pergi
          </h3>
          <h6>
            <% if (kota[0].stationID == asalK) { %>
              <%= kota[0].namaKota %> ( <%= kota[0].stationID %> )
            <% } else { %>
              <%= kota[1].namaKota %> ( <%= kota[1].stationID %> )
            <% } %>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
            </span>
            <% if (kota[0].stationID == tujuanK) { %>
              <%= kota[0].namaKota %> ( <%= kota[0].stationID %> )
            <% } else { %>
              <%= kota[1].namaKota %> ( <%= kota[1].stationID %> )
            <% } %>
            <span class="ml-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
            </span>
            <%= berangkatK %>
            <span class="ml-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
              </svg>
            </span>
            <%= dewasaK %> Dewasa
            <%= anakK %> Anak Anak
            <%= bayiK %> Bayi
          </h6>
        </div>

        <div class="col-md-3 nav3">
          <form class="form-inline mt-2 mt-md-0">
            <a class="nav-link bg-warning btn-block text-white font-weight-bold text-center px-3 mr-1 mt-3 btn-search" href="/pesawat">Ubah Pencarian</a>
          </form>
        </div>
      </div>  
    </nav>
    <br><br>
    
    <div class="order-form container d-flex justify-content-around">
      <p>Filter : </p>
      <div id="list1" class="dropdown-check-list" tabindex="100">
        <span class="anchor">Nama Kereta</span>
        <ul id="items1" class="items">
          <li><input type="checkbox" />Argo Parahyangan </li>
          <li><input type="checkbox" />Argo Parahyangan Tambahan </li>
          <li><input type="checkbox" />Serayu </li>
        </ul>
      </div>
      
      <div id="list2" class="dropdown-check-list" tabindex="100">
        <span class="anchor">Waktu</span>
        <ul id="items2" class="items">
          <li><input type="checkbox" />00.00 - 06.00</li>
          <li><input type="checkbox" />06.00 - 12.00</li>
          <li><input type="checkbox" />12.00 - 18.00</li>
          <li><input type="checkbox" />18.00 - 24.00</li>
        </ul>
      </div>

      <div id="list3" class="dropdown-check-list" tabindex="100">
        <span class="anchor">Kelas</span>
        <ul id="items3" class="items">
          <li><input type="checkbox" />Ekonomi </li>
          <li><input type="checkbox" />Bisnis </li>
          <li><input type="checkbox" />Eksekutif </li>
        </ul>
      </div>
    </div>
    <br>

    <div style="background-color: #f2f2f2;"  class="order-form container mb-sm-2">
      <div class="row header">
        <div class="col-md-4">
          <p>Nama Kereta</p>
        </div>
        <div class="col-md-2">
          <p>Berangkat</p>
        </div>
        <div class="col-md-2">
          <p>Tiba</p>
        </div>
        <div class="col-md-4">
          <p>Harga/orang</p>
        </div>
      </div>

      <div class="row order"> 
        <div class="col-md-4">
          <h5 class="">ARGO PARAHYANGAN 38</h5>
          <p>Ekonomi(Subclass Q)</p>
        </div>
        <div class="col-md-2">
          <p>00.00</p>
          <P style="margin-top: -10px">JAKARTA</P>
        </div>
        <div class="col-md-2"> 
          <p>02.00</p>
          <P style="margin-top: -10px">BANDUNG</P>
        </div>
        <div class="col-md-4">
          <span class="harga-pesawat1">Rp</span>
          <span class="harga-pesawat2">100</span>
          <span class="harga-pesawat1">.888,-</span>
          <a style="text-decoration: none;"  href="/kereta/tiket/data">
            <button type="submit" class="btn-caritiket bg-warning text-white font-weight-bold text-center">
              Pesan Tiket Pergi
            </button>
          </a> 
        </div>
      </div>
  </div>

    <br><hr>
    <!-- Footer -->
    <%- include('../partials/footer',  {page: 'produk'}); %>
    
    <script src="/js/tiketkereta.js"></script>
  </body>
</html>