<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/pembayaran.css">
    <link rel="icon" href="/assets/logo1.svg" type="image/svg+xml" sizes="2x2">
    <title>Beli Tiket Pesawat | Pigi Pigi</title>
</head>
<body>
   <!--Navbar -->
   <%- include('../partials/tiketNavbar',  {page: 'bayar'}); %>


  <div class="container">
    <form action="/pesawat/tiket/e-tiket/<%= orderID[0].transaksiID + 7000 %>" method="POST">
      <div class="row">
        <div class="col-md-8 box-item">
          <div class="row align-items-center logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
              <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
            </svg>
            <span class="title font-weight-bold">Pilih Metode Pembayaran</span>
          </div>
          <h5 style="padding-top: 20px">Transfer Bank :</h5>
          <div class="row">
            <div class="col-md-7">
              <div class="bank1">
                <label class="logobank">
                  <input type="radio" name="bayarAza" value="bca" checked>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Bank_Central_Asia.svg/80px-Bank_Central_Asia.svg.png">
                  <span class="mr-5"></span>Bank Central Asia</span>
                </label >
                <label class="logobank">
                  <input type="radio" name="bayarAza" value="mandiri">
                  <img src=https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Bank_Mandiri_logo_2016.svg/80px-Bank_Mandiri_logo_2016.svg.png>
                  <span class="mr-5"></span>Bank Mandiri</span>
                </label >
                <label class="logobank">
                  <input type="radio" name="bayarAza" value="bri">
                  <img src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2021/10/02/2358485646.jpg" width="80px">              
                  <span class="mr-5"></span>Bank Rakyat Indonesia</span> 
                </label>
                
                <hr>

                <h5>Bayar Tunai di Mitra / Agen :</h5>
                <label class="logobank">
                    <input type="radio" name="bayarAza" value="indomaret">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Logo_Indomaret.png/80px-Logo_Indomaret.png">
                    <span class="mr-5">Indomaret</span>
                </label>
                <label class="logobank">
                    <input type="radio" name="bayarAza" value="alfamart">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/ALFAMART_LOGO_BARU.png/80px-ALFAMART_LOGO_BARU.png">
                    <span class="mr-5">Alfamart</span>
                </label>
              </div>
            </div>
          </div>
        </div> 

        <div class="col-md-4">
          <div class="box">
            <div class="box-item1">
              <span class="title1">Detail Pesanan</span>
            </div>
            <div>
              <h5 class="order">
                ORDER ID 
                <%= orderID[0].transaksiID + 7000  %>
              </h5>
              <div class="detail">  
                <% if (dataP[0].airlineID == "GA" ) { %>
                  <img style="width: 60;" src="/assets/GA.png">
                <% } else if (dataP[0].airlineID == "QZ" ) { %>
                  <img style="width: 60;" src="/assets/QZ.png">
                <% } else if (dataP[0].airlineID == "JT" ) { %>
                  <img style="width: 60;" src="/assets/JT.png">
                <% } else if (dataP[0].airlineID == "ID" ) { %>
                  <img style="width: 60;" src="/assets/ID.png">
                <% } else if (dataP[0].airlineID == "QG" ) { %>
                  <img style="width: 60;" src="/assets/QG.png">
                <% } %>
                <span>
                  <%= dataP[0].provinsiAsal %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 18 18">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                  <%= dataP[0].provinsiTujuan %>
                  &bull; 
                  <%= tanggalP %>
                  &bull;
                  <%= dataP[0].jamBerangkat  %>
                </span>
              </div>
              <hr color="black">
              <div class="row harga justify-content-between">
                <span>Total Harga</span>
                <span>
                  Rp
                  <span id="harga"><%= dataP[0].harga * penumpang %> </span>
                </span>
              </div>
              <div class="row harga rowPromo justify-content-between" id="rowPromo">
              </div>
            </div>
          </div>

          <div class="box2">
            <div class="box-item1">
              <span class="title1">Kode Promo</span>
            </div>
            <div class="row promo">
              <div>
                <input class="kode" type="text" placeholder="Masukan Kode Promo" id="kodePromo">
              </div>
              <div>
                <button onclick="promo()" id="apply" type="button" class="rounded btn btn-warning apply">Apply</button>
              </div>
              <div>
                <span id="message"></span>
              </div>
            </div>
          </div>

          <button class="btn-konfirm btn-block btn-warning" id="ambilTiket" type="submit">
            Konfirmasi 
          </button>      
        </div>
      </div>
    </form>  

  <br><hr>
  <!-- Footer -->
  <%- include('../partials/footer',  {page: 'kontak'}); %>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <script src="/js/pembayaran.js"></script>
</body>
</html>