<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/logo1.svg" type="image/svg+xml" sizes="2x2">
    
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="/css/tiketpesawat.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Tiket Pesawat | PigiPigi</title>
  </head>
  <body>
    <!-- First Navbar -->
    <%- include('../partials/firstNavbar',  {page:'pesawat'}); %>

    <!-- second navbar -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" id="secnav">
      <div class="container">
        <div>
          <img class="rounded-circle pesawat-icon" src="https://banner2.cleanpng.com/20180521/qwy/kisspng-airplane-computer-icons-icon-design-5b02fd07a28226.7227895415269225036656.jpg" alt="Pesawat">
        </div>
        <div class="col-md-9 nav1">
          <h3 class="">
            Pilih Penerbangan Pergi
          </h3>
          <h6>
            <% if (prov[0].airportID == asalP) { %>
              <%= prov[0].namaProvinsi %> ( <%= prov[0].airportID %> )
            <% } else { %>
              <%= prov[1].namaProvinsi %> ( <%= prov[1].airportID %> )
            <% } %>
              <span>
                  <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-angle-expand icon-panah" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
                  </svg>
              </span>
            <% if (prov[0].airportID == tujuanP) { %>
              <%= prov[0].namaProvinsi %> ( <%= prov[0].airportID %> )
            <% } else { %>
              <%= prov[1].namaProvinsi %> ( <%= prov[1].airportID %> )
            <% } %>
              <span class="ml-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                      <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                      <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
              </span>
          <%= berangkatP %>
              <span class="ml-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                      <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                      <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                  </svg>
              </span>
          <%= dewasaP %> Dewasa
          <%= anakP %> Anak
          <%= bayiP %> Bayi
          
              <span class="ml-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane-engines" viewBox="0 0 16 16">
                      <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0ZM7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1c.213 0 .458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7V3Z"/>
                  </svg>
              </span>
          <% if (kelasP == 'FC') { %>
            First Class
          <% } else if (kelasP == 'EC') { %>
            Economy
          <% } else { %>    
            Business
          <% } %> %>
          </h6>
        </div>

        <div class="col-md-3 nav3">
          <form class="form-inline mt-2 mt-md-0">
            <a class="nav-link bg-warning btn-block text-white font-weight-bold text-center px-3 mr-1 mt-3 btn-search" href="/pesawat">Ubah Pencarian</a>
          </form>
        </div>
      </div>  
    </nav>
    <br><br>
  

    <div style="background-color: #f2f2f2;"  class="order-form container mb-sm-2">
      <div class="row header">
          <div class="col-md-4">
              <p>Maskapai</p>
          </div>
          <div class="col-md-2 text-center">
              <p>Berangkat</p>
          </div>
          <div class="col-md-2 text-center">
              <p>Tiba</p>
          </div>
          <div class="col-md-4 text-center">
              <p>Harga/orang</p>
          </div>
      </div>

      <% for (let tiketP of tiketPs) { %>
        <% if (kelasP == tiketP.kelas) { %>
            <div class="row order " >
              <div class="col-md-4">
                <!-- <p class=""><%= tiketP.pesawat.namaMaskapai %></p> -->
                <% if (tiketP.airlineID == "GA" ) { %>
                  <img style="width: 160;" src="/assets/GA.png">
                <% } else if (tiketP.airlineID == "QZ" ) { %>
                  <img style="width: 160;" src="/assets/QZ.png">
                <% } else if (tiketP.airlineID == "JT" ) { %>
                  <img style="height: 60;" src="/assets/JT.png">
                <% } else if (tiketP.airlineID == "ID" ) { %>
                  <img style="height: 70;" src="/assets/ID.png">
                <% } else if (tiketP.airlineID == "QG" ) { %>
                  <img style="height: 50;" src="/assets/QG.png">
                <% } %>
              </div>
              <div class="col-md-2 text-center">
                <p><%= tiketP.jamBerangkat %></p>
                <P style="margin-top: -10px"><%= tiketP.provinsiAsal %></P>
              </div>
              <div class="col-md-2 text-center"> 
                <p><%= tiketP.jamTiba %></p>
                <P style="margin-top: -10px"><%= tiketP.provinsiTujuan %></P>
              </div>
              <div class="col-md-4 text-center">
                  <span class="harga-pesawat1">Rp</span>
                  <span class="harga-pesawat2"> <%= tiketP.harga %></span><br>
                  <a style="text-decoration: none;"  href="/pesawat/tiket/data/<%= tiketP.ruteID %>/<%= berangkatP %>/<%=dewasaP%>/<%=anakP%>/<%=bayiP%>">
                    <button type="submit" class="btn-caritiket bg-warning text-white font-weight-bold text-center">
                      Pesan Tiket Pergi 
                    </button>
                  </a> 
                </div>
              </div>
          <% } %>
      <% } %>
    </div>

    <br><hr>
    <!-- Footer -->
    <%- include('../partials/footer',  {page: 'produk'}); %>

    <script src="/js/tiketpesawat.js"></script>
  </body>
</html>